/* Base Style CSS Start */

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}

/* Colors */
:root {
  /* primary */

  --primary-1: #009dcf;
  --primary-2: #7c33f4;
  --primary-3: #e00000;
  --primary-4: #00af12;

  /* Secondary */

  --secondary-1: #4bc9f0;
  --secondary-2: #e4d7cf;
  --secondary-3: #ffd166;
  --secondary-4: #cdb4db;

  /* neutrals */

  --neutrals-1: #141416;
  --neutrals-2: #23262f;
  --neutrals-3: #353945;
  --neutrals-4: #777e90;
  --neutrals-5: #b1b5c3;
  --neutrals-6: #e6e8ec;
  --neutrals-7: #f4f5f6;
  --neutrals-8: #fcfcfd;
  --white: #ffffff;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.py-80 {
  padding: 80px 0;
}

.body-1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.24px;
  color: var(--neutrals-2, #23262f);
}

.body-2 {
  color: var(--neutrals-2, #23262f);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.headline-2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
  color: var(--neutrals-white, #fff);
}

.headline-4 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.32px;
  color: var(--neutrals-2, #23262f);
  margin-bottom: 0;
}

.fill-btn a {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: var(--neutrals-white, #fff);
  background: var(--primary-1, #009dcf);
  padding: 15px 24px;
  border-radius: 90px;
}

.outline-btn a {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: var(--primary-1, #009dcf);
  padding: 15px 24px;
}

.show-all-btn a {
  display: block;
  text-align: center;
  font-size: 16px;
  color: var(--primary-1, #009dcf);
  padding-top: 20px;
}

/* Base Style CSS End */

/* Header Part CSS Start */

/* Navigation Section CSS Start */

.navigation-wrapper {
  padding: 20px 0;
  border-bottom: 1px solid var(--neutrals-6, #e6e8ec);
}

.logo a {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.24px;
  color: var(--primary-1, #009dcf);
}

.main-menu ul li a {
  font-size: 14px;
  font-weight: 700;
  color: var(--neutrals-3, #353945);
  padding: 0 15px;
}

#bars-icon,
#cross-icon {
  display: none;
}

/* Responsive Navabar CSS */

@media (max-width: 992px) {
  .navigation-wrapper {
    background: var(--neutrals-8, #fcfcfd);
  }

  #bars-icon {
    display: block;
  }

  .main-menu {
    position: absolute;
    top: 71px;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--neutrals-8, #fcfcfd);
    transition: left 0.3s ease-in-out;
    z-index: 999;
  }

  .main-menu.active {
    left: 0;
  }

  .main-menu ul {
    position: absolute;
    top: 20%;
    display: block !important;
  }

  .main-menu ul li {
    padding: 15px;
  }

  .main-menu ul li a {
    font-size: 24px;
    font-weight: 700;
  }

  .contact-btn {
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
  }

  .contact-btn a {
    font-size: 16px;
    font-weight: 700;
    color: var(--neutrals-2, #23262f);
    padding: 16px 24px;
    border: 2px solid var(--neutrals-6, #e6e8ec);
    border-radius: 100px;
  }
}

/* Navigation Section CSS End */

/* Hero Section CSS Start */

.hero-content h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--neutrals-4, #777e90);
}

.hero-content h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: -1.28px;
  color: var(--neutrals-2, #23262f);
}

.hero-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--neutrals-4, #777e90);
}

.hero-img img {
  width: 100%;
}

.hero-buttons {
  padding-top: 35px;
}

/* Hero Section CSS End */

/* Header Part CSS End */

/* Main Part CSS Start */

/* Partners Section CSS Start */

.partners-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partners-title h6 {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 24px;
  color: var(--neutrals-4, #777e90);
  padding: 10px 0;
}

/* Partners Section CSS End */

/* Product Section CSS Start */

.product-top {
  padding-bottom: 15px;
}

.product-top a {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: var(--primary-1, #009dcf);
}

.product-card-top {
  position: absolute;
  top: 8px;
  left: 8px;
}

.product-card {
  padding-top: 15px;
}

.product-tag span {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px;
  color: var(--neutrals-white, #fff);
  background: var(--primary-2, #7c33f4);
  border-radius: 4px;
}

.product-quantity span {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  margin-right: 16px;
  color: var(--neutrals-white, #fff);
  background: var(--primary-1, #009dcf);
  border-radius: 40px;
}

.product-img,
.product-img img {
  max-width: 100%;
  width: 100%;
  max-height: 270px;
  height: 100%;
  border-radius: 8px;
}

.product-content {
  padding-top: 20px;
}

.product-name h6 {
  font-size: 16px;
  font-weight: 400;
  color: var(--neutrals-4, #777e90);
}

.product-name h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: var(--neutrals-2, #23262f);
}

.product-category span {
  font-size: 14px;
  font-weight: 700;
  padding: 6px 12px;
  color: var(--neutrals-white, #fff);
  background: var(--neutrals-5, #b1b5c3);
  border-radius: 100px;
}

.product-price p {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: var(--primary-4, #00af12);
}

.add-collection-btn a {
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  padding: 12px;
  color: var(--primary-1, #009dcf);
  background: transparent;
  border: 1px solid var(--primary-1, #009dcf);
  border-radius: 90px;
}

/* Product Section CSS End */

/* Work Section CSS Start */

.work-wrapper {
  background: var(--primary-1);
}

.work-top {
  max-width: 460px;
}

.work-top p {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.24px;
  color: var(--neutrals-white, #fff);
  opacity: 0.8;
  padding-top: 5px;
  margin-bottom: 0;
}

.work-card {
  padding-top: 50px;
}

.work-card h3 {
  color: var(--white);
}

.work-card hr {
  margin: 24px 0;
  border-top: 2px solid var(--neutrals-white, #fff);
  opacity: 0.2 !important;
}

.work-card h6 {
  font-size: 16px;
  font-weight: 500;
  color: var(--neutrals-white, #fff);
  margin-bottom: 12px;
}

.work-card p {
  font-size: 14px;
  line-height: 24px;
  color: var(--neutrals-white, #fff);
  margin-bottom: 0;
}

/* Work Section CSS End */

/* Family Sedans Section CSS Start */

.family-sedans-wrapper {
  background: var(--neutrals-7, #f4f5f6);
}

.owl-stage {
  padding-left: 0 !important;
}

.owl-nav,
.owl-dots {
  display: none;
}

/* Family Sedans Section CSS End */

/* Cars Info Section CSS Start */

.cars-info-wrapper {
  background: var(--neutrals-8, #fcfcfd);
}

.cars-body-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-top: 10px;
}

.cars-body-card h6 {
  padding-top: 10px;
  margin: 0;
}

/* Cars Manufacture */

.cars-manufacturer {
  padding-top: 60px;
}

.cars-manufacturer-container {
  display: flex;
  justify-content: space-between;
}

.cars-mfg-icon,
.cars-mfg-icon img {
  max-width: 32px;
  height: 32px;
  margin-right: 12px;
}

.cars-mfg-title h6 {
  margin-bottom: 0;
}

/* Popular Models */

.popular-models {
  padding-top: 60px;
}

.polpular-models-container {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.popular-models-column h6 {
  padding-top: 6px;
}

/* Cars Info Section CSS End */

/* FAQ Section CSS Start */

.faq-wrapper {
  background: var(--neutrals-7, #f4f5f6);
}

.faq-title h2 {
  color: var(--neutrals-2, #23262f);
}

.accordion {
  max-width: 530px;
  margin: auto;
  padding-top: 45px;
}

.accordion-item {
  border: 1px solid #e6e8ec;
}

.accordion-item,
.accordion-button {
  background-color: transparent !important;
}

.accordion-button,
.accordion-button:not(.collapsed) {
  font-size: 16px;
  font-weight: 500;
  color: var(--neutrals-2, #23262f);
}

.accordion-button span {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: var(--neutrals-4, #777e90);
  padding-right: 25px;
}

.accordion-button:focus {
  border: none !important;
  box-shadow: none;
}

.accordion-button:not(.collapsed) span {
  color: var(--primary-1, #009dcf);
}

.accordion-button {
  padding: 24px 0;
}

.accordion-body {
  padding: 0 0 24px;
}

.accordion-body p {
  font-size: 14px;
  font-weight: 400;
  color: var(--neutrals-4, #777e90);
  margin-bottom: 0;
}

.accordion-button::after {
  background-image: url(../images/chevron-down.svg);
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../images/chevron-down.svg);
}

/* FAQ Section CSS End */

/* Main Part CSS End */

/* Footer Part CSS Start */

.footer-wrapper {
  background: var(--neutrals-2, #23262f);
  padding: 80px 0 32px;
}

.footer-about > a {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.48px;
  color: var(--primary-1, #009dcf);
}

.footer-about ul li a {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.24px;
  color: var(--neutrals-6, #e6e8ec);
}

.footer-menu-container {
  display: flex;
  justify-content: space-between;
}

.footer-menu h6 {
  font-size: 16px;
  font-weight: 500;
  color: var(--neutrals-6, #e6e8ec);
}

.footer-menu ul li {
  padding-top: 13px;
}

.footer-menu ul li a {
  font-size: 14px;
  font-weight: 400;
  color: var(--neutrals-4, #777e90);
}

.footer-wrapper hr {
  margin: 64px 0 32px;
  border-top: 1px solid #353945;
  opacity: 1;
}

.footer-copyright p {
  font-size: 12px;
  margin: 0;
  color: var(--neutrals-4, #777e90);
}

.cookies h6 {
  display: flex;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  color: var(--neutrals-4, #777e90);
}

.cookies h6 a {
  display: block;
  font-size: 12px;
  font-weight: 700;
  color: var(--primary-1, #009dcf);
  padding-left: 16px;
}

/* Footer Accordion */

.footer-accordion .accordion-button {
  font-size: 16px;
  font-weight: 500;
  color: var(--white) !important;
}

.footer-accordion .accordion-item {
  border-left: 0 !important;
  border-right: 0 !important;
  border: 1px solid var(--neutrals-3, #353945);
}

.footer-copyright,
.cookies {
  text-align: center;
  padding: 6px 0;
}

.cookies h6 {
  justify-content: center;
}

/* Footer Part CSS End */

/* ============***============
Extract Page CSS
============***============ */

/* Extract Hero Section CSS Start */

.extract-hero-wrapper {
  padding: 48px 0;
}

.extract-hero-title h2 {
  color: var(--neutrals-2, #23262f);
}

.all-filters {
  padding: 15px 0;
  border-bottom: 1px solid var(--neutrals-6, #e6e8ec);
}

.all-filters-btn > button {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: var(--neutrals-white, #fff);
  background: var(--primary-1, #009dcf);
  padding: 15px 24px;
  border: none;
  border-radius: 90px;
}

.all-filters-tags span {
  font-size: 14px;
  font-weight: 700;
  color: var(--primary-1, #009dcf);
  padding-right: 15px;
}

.offcanvas-header h5 {
  font-weight: 500;
}

.accordion.filter-accordion {
  padding: 30px 0 100px;
}

.filter-accordion .accordion-button::after {
  position: relative;
  content: "+";
  background-image: none;
  transition: none;
  color: var(--primary-1, #009dcf);
  font-size: 20px;
  top: -5px;
}

.filter-accordion .accordion-button:not(.collapsed)::after {
  position: relative;
  content: "-";
  background-image: none;
  top: 0px;
  right: 9px;
  transition: none;
  color: var(--primary-1, #009dcf);
  font-size: 20px;
}

.filter-accordion .accordion-button {
  font-size: 16px;
  font-weight: 700;
  color: var(--neutrals-2, #23262f);
  padding: 0;
}

.filter-accordion .accordion-item {
  padding-bottom: 24px;
  border: none !important;
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
}

.filter-accordion .accordion-body {
  padding: 5px 0 0;
}

.car-brand-input input {
  width: 100%;
  font-size: 14px;
  padding: 12px 16px;
  color: var(--neutrals-4, #777e90);
  border: 1px solid var(--Neutrals-5, #b1b5c3);
  border-radius: 6px;
}

.car-brand-input input:focus {
  font-size: 14px;
  font-weight: 500;
  color: var(--neutrals-3, #353945);
  outline: 2px solid var(--primary-1, #009dcf);
  border: none;
}

.filter-accordion-tags span {
  font-size: 14px;
  font-weight: 500;
  color: var(--neutrals-2, #23262f);
  padding: 4px 16px;
  margin-right: 5px;
  border: 1px solid var(--neutrals-5, #b1b5c3);
  border-radius: 6px;
}

.filter-accordion-tags span.active {
  color: var(--white, #fff);
  background: var(--primary-1, #009dcf);
  border: 1px solid var(--primary-1, #009dcf);
}

.toggle-btn label {
  font-size: 14px;
  font-weight: 500;
  color: var(--neutrals-2, #23262f);
  padding: 4px 16px;
  margin-right: 5px;
  border: 1px solid var(--neutrals-5, #b1b5c3) !important;
  border-radius: 6px;
}

.btn-check:checked + .btn {
  color: var(--white, #fff);
  background: var(--primary-1, #009dcf);
  border: 1px solid var(--primary-1, #009dcf) !important;
}

.offcanvas-btn a {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: var(--neutrals-8, #fcfcfd);
  padding: 16px;
  background: var(--Primary-4, #00af12);
  border-radius: 100px;
}

.vymazat-filtry-btn a {
  display: block;
  width: 100%;
  font-size: 14px;
  text-align: center;
  color: var(--neutrals-4, #777e90);
  padding-top: 10px;
}

.filter {
  padding-top: 15px;
}

.filtered-tag span {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  color: var(--neutrals-4, #777e90);
  padding-right: 24px;
}

.filtered-tag span i {
  font-size: 12px;
  padding-left: 8px;
  margin-top: 1px;
}

.clear-filters-btn a {
  font-size: 14px;
  color: var(--neutrals-4, #777e90);
}

.filter-select select {
  font-size: 14px;
  font-weight: 500;
  color: var(--neutrals-2, #23262f);
  padding: 10px;
  border: 1px solid var(--neutrals-6, #e6e8ec);
  border-radius: 10px;
}

.filter-select select:focus {
  outline: 0;
}

/* Extract Hero Section CSS End */

.recommended-cars-container {
  background: #f3fafd;
  padding: 48px;
}

.product-bottom {
  padding-bottom: 80px;
}

.showing-product span {
  font-size: 16px;
  color: var(--neutrals-4, #777e90);
}

.product-load-more-btn a {
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: var(--primary-1, #009dcf);
  padding: 12px 0;
}

.product-load-more-btn a i {
  font-size: 12px;
  padding-left: 5px;
}

/* ============***============
Contact Page CSS
============***============ */

/* Contact Section CSS Start */

.contact-wrapper {
  padding: 48px 0 80px;
}

.contact-top h2 {
  color: var(--neutrals-2, #23262f);
}

.contact-info {
  padding-top: 40px;
}

.contact-info-card {
  position: relative;
  padding: 0 110px;
}

.contact-info-card::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: var(--neutrals-6, #e6e8ec);
}

.contact-info-card:last-child::after {
  width: 0;
}

.contact-info-card i {
  color: var(--primary-1);
}

.contact-info-card h6 {
  font-size: 14px;
  font-weight: 400;
  color: var(--neutrals-4, #777e90);
  padding: 10px 0;
  margin-bottom: 0;
}

.contact-info-card ul li {
  padding-bottom: 8px;
}

.contact-info-card ul li,
.contact-info-card a {
  font-size: 14px;
  color: var(--neutrals-2, #23262f);
}

.contact-form-wrapper {
  max-width: 545px;
  margin: auto;
  padding-top: 60px;
}

.contact-form-wrapper h2 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.4px;
  color: var(--neutrals-2, #23262f);
  margin-bottom: 0;
}

.contact-form-container {
  padding-top: 60px;
}

.contact-form-field label {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--neutrals-5, #b1b5c3);
  padding-bottom: 12px;
}

.contact-form-field input,
.contact-form-field textarea {
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid var(--Neutrals-5, #b1b5c3);
  border-radius: 6px;
}

.contact-form-field input:focus,
.contact-form-field textarea:focus {
  outline: 0;
}

.contact-form ::placeholder {
  font-size: 14px;
  color: var(--neutrals-4, #777e90);
}

.contact-submit-btn input {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  padding: 16px;
  color: var(--neutrals-8, #fcfcfd);
  background: var(--Primary-1, #009dcf);
  border: none;
  border-radius: 100px;
}

.contact-img {
  padding-top: 64px;
}

.contact-img img {
  max-width: 100%;
  width: 100%;
  max-height: 545px;
  height: 100%;
}

/* Contact Section CSS End */

/* ============***============
Details Page CSS
============***============ */

/* Car Details Hero Section CSS Start */

.details-wrapper {
  padding: 48px 0 36px;
}

.details-content .filtered-tag span {
  font-weight: 500;
  padding-right: 16px;
}

.details-content h2 {
  color: var(--neutrals-2, #23262f);
  padding-right: 10px;
  margin-bottom: 0;
}

.details-content > span {
  font-size: 24px;
  letter-spacing: -0.24px;
  color: var(--neutrals-3, #353945);
}

.car-details-slider {
  padding-top: 32px;
}

.car-details-slide-img img {
  max-height: 530px;
  border-radius: 8px;
}

.car-details-small-slider {
  padding-top: 12px;
}

.car-details-small-slide-img img {
  max-height: 100px;
  border-radius: 8px;
}

.car-details-slider .owl-nav,
.car-details-small-slider .owl-nav {
  display: block !important;
}

.car-details-slider .owl-nav {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.car-details-small-slider .owl-nav {
  width: 100%;
  position: absolute;
  top: 15%;
}

.car-details-slider .owl-prev i,
.car-details-small-slider .owl-prev i {
  position: absolute;
  left: 20px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--neutrals-2, #23262f);
  background: #f4f5f6d4;
  border-radius: 100px;
}

.car-details-slider .owl-next i,
.car-details-small-slider .owl-next i {
  position: absolute;
  right: 20px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--neutrals-2, #23262f);
  background: #f4f5f6d4;
  border-radius: 100px;
}

.car-details-tags {
  position: absolute;
  top: 20px;
  left: 24px;
}

.novelty span,
.best-price span {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px;
  margin-right: 20px;
  color: var(--neutrals-8, #fcfcfd);
  background: var(--Primary-2, #7c33f4);
  border-radius: 4px;
}

.best-price span {
  background: var(--primary-1, #009dcf);
}

.car-details-info-wrapper {
  padding: 32px 24px 20px;
  margin: 32px 0 0 80px;
  background: rgba(0, 175, 18, 0.05);
  border: 1px solid var(--primary-4, #00af12);
  border-radius: 16px;
}

.car-details-info h2 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.4px;
  color: var(--primary-4, #00af12);
  margin-bottom: 12px;
}

.car-details-select select {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  padding: 16px 8px 16px 16px;
  margin-top: 20px;
  color: var(--neutrals-2, #23262f);
  background: var(--neutrals-White, #fff);
  border: 1px solid var(--neutrals-6, #e6e8ec);
  border-radius: 6px;
}

.car-details-select select:focus {
  outline: 0;
}

.car-details-info h6 {
  font-size: 16px;
  font-weight: 500;
  color: var(--neutrals-2, #23262f);
  margin: 35px 0 10px;
}

.car-details-info ul li {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: var(--neutrals-4, #777e90);
}

.best-offer-btn a {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding: 16px;
  margin-top: 36px;
  color: var(--neutrals-8, #fcfcfd);
  background: var(--Primary-4, #00af12);
  border-radius: 100px;
}

.car-details-info span {
  display: block;
  font-size: 12px;
  text-align: center;
  padding-top: 40px;
  color: var(--neutrals-5, #b1b5c3);
}

/* Car Details Hero Section CSS End */

/* Car Details Accordion Section CSS Start */

.car-details-accordion-buttons {
  padding-bottom: 36px;
}

.nav-pills .nav-link {
  font-size: 14px;
  font-weight: 700;
  color: var(--primary-1, #009dcf);
  padding: 12px 20px !important;
  border-radius: 100px;
}

.nav-pills .nav-link.active {
  color: var(--white, #fff);
  background: var(--primary-1, #009dcf);
}

.car-details-accordion {
  max-width: 100%;
}

.car-details-accordion .accordion-item {
  padding-bottom: 36px !important;
}

.details-checkbox-box {
  padding: 12px;
  margin-top: 15px;
  background: var(--Neutrals-8, #fcfcfd);
  border: 1px solid var(--Neutrals-6, #e6e8ec);
  border-radius: 4px;
}

.details-checkbox {
  padding-right: 15px;
}

.details-checkbox-text {
  width: 100%;
  padding-top: 5px;
}

.details-checkbox-text h6 {
  font-size: 16px;
  font-weight: 500;
  color: var(--neutrals-2, #23262f);
}

.details-checkbox-text span {
  font-size: 14px;
  font-weight: 500;
  color: var(--neutrals-4, #777e90);
}

.details-checkbox-text p {
  font-size: 14px;
  color: var(--neutrals-4, #777e90);
  padding-right: 20px;
}

.details-checkbox input[type="checkbox"] {
  position: relative;
  border: 1px solid var(--neutrals-4, #777e90);
  border-radius: 4px;
  background: none;
  cursor: pointer;
  line-height: 0;
  margin: 0 0.6em 0 0;
  outline: 0;
  padding: 0 !important;
  vertical-align: text-top;
  width: 29px;
  height: 28px;
  -webkit-appearance: none;
  opacity: 0.5;
}

.details-checkbox input[type="checkbox"]:checked {
  background-color: var(--primary-4, #00af12);
  border-color: #fff;
  opacity: 1;
}

.details-checkbox input[type="checkbox"]:before {
  content: "";
  position: absolute;
  right: 45%;
  top: 50%;
  width: 7px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  margin: -1px -1px 0 -1px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2;
}

.accordion.car-details-accordion {
  padding: 0;
}

/* Car Details Accordion Section CSS End */

/* Price History Section CSS Start */

.price-history-wrapper {
  padding-top: 80px;
}

.price-history-img {
  padding-top: 20px;
}

.price-history-img img {
  max-width: 100%;
  width: 100%;
  max-height: 355px;
  height: 100%;
}

/* Price History Section CSS End */

/* Car Details Content Section CSS Start */

.car-details-content-wrapper {
  padding: 16px 0 80px;
}

.car-details-content-box {
  max-width: 643px;
  margin: auto;
  padding-top: 60px;
}

.car-details-content-box h2 {
  position: relative;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.4px;
  color: var(--neutrals-2, #23262f);
  padding-bottom: 30px;
  margin: 0;
}

.car-details-content-box h2::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 166px;
  height: 2px;
  background: var(--neutrals-6, #e6e8ec);
}

.car-details-content-box p {
  font-size: 16px;
  line-height: 24px;
  padding-top: 30px;
  margin-bottom: 0;
  color: var(--neutrals-4, #777e90);
}

/* Car Details Content Section CSS End */

/* ==========***==========
Text Page CSS
==========***========== */

.typography-wrapper {
  padding: 48px 0 80px;
}

.typography-container {
  max-width: 643px;
  margin: auto;
}

.work-content-box h2 {
  color: var(--neutrals-2, #23262f);
  margin-bottom: 20px;
}

.typography-content h4 {
  font-weight: 700;
  padding-top: 30px;
  margin-bottom: 0;
}

.typography-content h6 {
  font-weight: 500;
  padding: 30px 0;
  margin-bottom: 0;
}

.typography-content p {
  color: var(--neutrals-4, #777e90);
  margin-bottom: 0;
}

.typography-content p a {
  color: var(--primary-1, #009dcf);
  text-decoration: underline;
}

.typography-content ul {
  padding-bottom: 22px;
}

.typography-content ul li {
  font-size: 16px;
  color: var(--neutrals-4, #777e90);
  padding-bottom: 10px;
}

.typography-content ul li i {
  color: var(--primary-4, #00af12);
  padding-right: 12px;
}

/* Modal CSS */

.btn-check:checked + .btn .cars-body-card h6 {
  color: #fff;
}

.modal {
  --bs-modal-width: 842px;
}

.close-btn button {
  position: absolute;
  right: -15px;
  top: -20px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--White, #fff);
  box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.2);
  border: none;
  border-radius: 100px;
  z-index: 1;
}

.close-btn button i {
  color: var(--neutrals-4, #777e90);
}

.modal-body {
  padding: 0 !important;
}

.modal-content {
  padding: 60px;
}

.modal-top h3 span {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.24px;
  color: var(--primary-1, #009dcf);
}

.modal-top p {
  font-size: 14px;
  color: var(--Neutrals-4, #777e90);
  margin-bottom: 0;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 45px 0;
}

.karoseri-modal-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 32px;
  row-gap: 24px;
}

.karoseri-modal-container .cars-body-card label,
.karoseri-modal-container .cars-body-card label:hover {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid var(--neutrals-5, #b1b5c3) !important;
  border-radius: 8px;
}

.karoseri-modal-container .cars-body-card label img {
  height: 40px;
  margin: auto;
}

.karoseri-modal-container .cars-body-card h6 {
  padding-top: 20px;
}

.btn-check:checked + .btn h6 {
  color: #fff !important;
}

.cars-body-img-white {
  display: none;
}

.btn-check:checked + .btn img {
  display: none;
}

.btn-check:checked + .btn img.cars-body-img-white {
  display: block !important;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  padding: 0;
  border-top: none;
}

.modal-footer p {
  font-size: 14px;
  margin-bottom: 0;
  color: var(--neutrals-5, #b1b5c3);
}

.modal-footer p i {
  padding-right: 40px;
  color: var(--neutrals-5, #b1b5c3);
}

.skip-btn.outline-btn a {
  font-size: 14px;
  color: var(--neutrals-4, #777e90);
}

.continue-btn.fill-btn a {
  font-size: 14px;
  padding: 12px 16px;
}

/* Palivo Modal */

.option-select-btn label,
.option-select-btn label:hover {
  display: block;
  width: 144px;
  font-size: 16px;
  padding: 22px 0 !important;
  color: var(--neutrals-2, #23262f);
  border: 1px solid var(--neutrals-5, #b1b5c3) !important;
  border-radius: 8px;
}

.splatky-modal-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  place-items: center;
}

/* ==========***==========
Right Modal
==========***========== */

.poptavka-modal {
  max-width: 562px;
}

.poptavka-wrapper {
  max-width: 562px;
  padding: 50px 80px 50px 50px;
  background: var(--White, #fff);
  box-shadow: 0px 32px 32px 0px rgba(35, 38, 47, 0.15);
  border: 1px solid var(--neutrals-6, #e6e8ec);
  border-radius: 10px;
}

.poptavka-top-content h3 {
  font-size: 24px;
  font-weight: 700;
  color: var(--neutrals-2, #23262f);
}

.poptavka-top-content p {
  font-size: 16px;
  font-weight: 500;
  color: var(--neutrals-4, #777e90);
  margin: 0;
}

.sign-up-btn a {
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-1, #009dcf);
}

.poptavka-form-field {
  width: 100%;
  padding-top: 30px;
}

.poptavka-name-field {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.poptavka-form-field label,
.poptavka-form-field h6 {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--neutrals-5, #b1b5c3);
  padding-bottom: 8px;
  margin-bottom: 0;
}

.poptavka-form-field input {
  width: 100%;
  padding: 16px;
  border: 1px solid var(--neutrals-5, #b1b5c3);
  border-radius: 6px;
}

.poptavka-form-field input:focus {
  outline: 0;
  border: 2px solid var(--primary-1, #009dcf);
}

.poptavka-call {
  display: flex;
  gap: 12px;
}

.poptavka-field-selector label,
.poptavka-field-selector label:hover {
  width: 110px;
  font-size: 14px;
  font-weight: 500;
  padding: 16px 16px !important;
  color: var(--neutrals-2, #23262f);
  border: 1px solid var(--neutrals-5, #b1b5c3) !important;
  border-radius: 6px;
}

.help-text p {
  font-size: 14px;
  padding: 40px 0;
  margin: 0;
  color: var(--neutrals-4, #777e90);
}

.poptavka-submit-btn {
  padding-top: 40px;
}

.poptavka-form hr {
  border-top: 1px solid var(--neutrals-6, #e6e8ec);
  margin: 0;
  opacity: 1;
}

.poptavka-submit-btn input {
  font-size: 16px;
  font-weight: 700;
  padding: 16px 24px;
  color: var(--neutrals-8, #fcfcfd);
  background: var(--primary-4, #00af12);
  border: none;
  border-radius: 90px;
}

.poptavka-form ::placeholder {
  font-size: 14px;
  color: var(--neutrals-4, #777e90);
}

.poptavka-content-box-wrapper {
  position: absolute;
  top: 30px;
  right: -350px;
}

.poptavka-content-box {
  max-width: 385px;
  padding: 24px;
  background: var(--neutrals-7, #f4f5f6);
  box-shadow: 0px 32px 32px -48px rgba(35, 38, 47, 0.15);
  border: 1px solid var(--neutrals-6, #e6e8ec);
  border-radius: 16px;
}

.poptavka-content-box h2 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.32px;
  color: var(--neutrals-2, #23262f);
}

.poptavka-content-box p {
  font-size: 16px;
  color: var(--neutrals-4, #777e90);
  margin-bottom: 0;
}

.poptavka-content-box-img {
  margin: 16px 0;
}

.poptavka-content-box h3 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.32px;
  color: var(--primary-4, #00af12);
  margin: 0;
}

.poptavka-details {
  padding-top: 20px;
}

.poptavka-details h6 {
  font-size: 16px;
  font-weight: 500;
  color: var(--neutrals-2, #23262f);
}

.poptavka-details-box span {
  font-size: 14px;
  font-weight: 500;
  color: var(--neutrals-4, #777e90);
}

/* Poptavka Sent Box CSS */

.poptavka-sent-box {
  max-width: 530px;
  text-align: center;
  padding: 50px;
  background: rgba(0, 175, 18, 0.1);
  box-shadow: 0px 32px 32px 0px rgba(35, 38, 47, 0.15);
  border: 1px solid var(--primary-4, #00af12);
  border-radius: 10px;
}

.poptavka-sent-content {
  max-width: 336px;
  margin: auto;
  text-align: center;
}

.poptavka-sent-content h2 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.4px;
  padding: 20px 0 30px;
  margin: 0;
  color: var(--primary-4, #00af12);
}

.poptavka-sent-content h5 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.2px;
  color: var(--primary-4, #00af12);
  margin-bottom: 0;
}

.sent-btn a {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  color: var(--neutrals-8, #fcfcfd);
  background: var(--primary-4, #00af12);
  padding: 16px 24px;
  margin-top: 40px;
  border-radius: 90px;
}

#Poptavka-modal .modal {
  --bs-modal-width: 1000px;
}

#Poptavka-sent-modal .modal {
  --bs-modal-width: 530px;
}

#Poptavka-modal .modal-content,
#Poptavka-sent-modal .modal-content {
  padding: 0;
  background: none;
  border: none;
}

#Poptavka-sent-modal .modal-content {
  background: var(--white, #fff);
}

/* Poptavka M1 Modal */

#Poptavka-m1-modal .modal {
  --bs-modal-width: 375px;
}

#Poptavka-m1-modal .modal-content {
  padding: 0;
  background: var(--white, #fff);
  border: none;
}

.poptavka-modal-top .close-btn button {
  position: initial;
  background: transparent;
  box-shadow: none;
}

.poptavka-m1-content-box-wrapper .poptavka-content-box {
  background: transparent;
  box-shadow: none;
  border: none;
}

.poptavka-modal-top {
  padding: 12px 15px 12px 30px;
}

.poptavka-modal-top a {
  font-size: 16px;
  color: #b1b5c3;
}

.poptavka-modal-top h6 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
  color: var(--neutrals-2, #23262f);
}

.poptavka-m1-content-box-wrapper .poptavka-content-box-img img {
  max-width: 228px;
  width: 100%;
  max-height: 165px;
  height: 100%;
}

.poptavka-m1-content-box-wrapper .car-details-tags {
  top: 8px;
  left: 8px;
}

.update-text p {
  font-size: 12px;
  text-align: center;
  color: var(--neutrals-4, #777e90);
  padding-top: 10px;
  margin-bottom: 0;
}

#Poptavka-m1-modal .poptavka-wrapper {
  padding: 32px 20px 50px;
  background: var(--White, #fff);
  box-shadow: none;
  border: none;
  border-radius: 0;
}

#Poptavka-m1-modal .poptavka-field-selector label,
.poptavka-field-selector label:hover {
  width: 100px;
}

#Poptavka-m1-modal .poptavka-submit-btn {
  padding-top: 0;
}

#Poptavka-m1-modal .poptavka-submit-btn input {
  width: 100%;
}

/* Poptavka M3 */

#Poptavka-m3-modal .modal {
  --bs-modal-width: 375px;
}

#Poptavka-m3-modal .poptavka-modal-top {
  background: rgba(0, 175, 18, 0.1);
}

#Poptavka-m3-modal .modal-content {
  padding: 0;
}

#Poptavka-m3-modal .poptavka-sent-box {
  padding: 150px 30px;
  border: none;
}
